

.form-signin {
	max-width: 600px;
	margin-top: 45px;
}

#reg-form {
  width: 800px;
}

.program-selection {
	border: 1px solid brown;
  font-size:18px;
  max-width: 330px;
  margin-right: 20px;
}


.program-selection{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.app-name {
  font-size: 34px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 2px;
  color: #4CAF50;
  display: block;
  margin-bottom: 15px;
}


textarea:focus, input:focus{
    outline: none;
}

.validation {
  color: red;
}

@media only screen and  (max-width: 575.98px) {
  html, body {
    margin-top: 0;
    padding-top: 0;
  }
  .reg-form {
    width: 100%;
  }

}

@include media-breakpoint-up(sm) {
  html, body {
    font-size: 1.2rem;
    margin-top: 20px;
    padding-top: 20px;
  }

}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) 
  and (orientation: portrait) {
  html {
    font-size: 1.4rem;
  }

  .reg-form,
  .login-form {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

}

@media only screen and (min-width: 992px){
  .reg-form,
  .login-form {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  } 
}