

.form-signin {
	max-width: 600px;
	margin-top: 45px;
}

#reg-form {
  width: 800px;
}

.program-selection {
	border: 1px solid brown;
  font-size:18px;
  max-width: 330px;
  margin-right: 20px;
}


.program-selection{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.reg-form {
  max-width: 600px;
  background-color: #fff;
  text-align: center;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid brown;
}


.reg-app-header {
  height: 45px;
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  margin-top: 10px;
  vertical-align: middle;
  color: #4B0082;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}



textarea:focus, 
input:focus{
    outline: none;
}

.validation {
  color: red;
}

/*
@media only screen and  (max-width: 575.98px) {
  html, body {
    margin-top: 0;
    padding-top: 0;
  }
  .reg-form {
    width: 100%;
  }

}
*/

@media only screen and (min-width: 768px) 
  and (orientation: portrait) {
  html {
    font-size: 1.4rem;
  }

  .reg-form,
  .login-form {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

}

@media only screen and (min-width: 992px){
  .reg-form,
  .login-form {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  } 
}