

.form-ckeck {
	border: 1px solid black;

}

.form-check-label {
	margin-left: 20px;
	
}

.form-check-input{
	border: 4px solid black;
	transform: scale(1.5);
}

.form-check-input + .form-check-label {
	font-weight: bold;
}

.strikeOut {
	padding-left: 20px;
}

.delete {
	margin-left: 20px;
	font-size: 1.8em;
}

.delete:hover {
	background-color: red;
}