

.form-ckeck {
	border: 1px solid black;
	border-radius: 5px;

}

.form-check-label {
	margin-left: 5px;
}

.form-check-label label:focus {
	background-color: azure;
}

.form-check-input{
	margin: 10px;
	transform: scale(1.5);
}

.form-checkbox-input input[type="checkbox"]:active {
 transform: scale(2);
}




