
.disabled-link {
  pointer-events: none;
}


.list-group-item {
	border: 1px solid black;
	border-radius: 5px;
}

#active {
	font-weight: bold;
	color: black;
	background-color: #71f1b8;
}

#activeTab {
	font-weight: bold;
	color: black;
	background-color:  #71f1b8;
}

.list-group-item .badge {
	padding: 1px 9px 2px;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	color: #ffffff;
	border-radius: 9px;
	background-color: #468847;
}

.selection-list {
	padding: 20px 0;
}
.selection-list li {
	font-size: 20px;
}
@media only screen and (min-width: 320px) {
	.selection-list {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.selection-list {
		width: 45%;
		float: left;
	}
}