
.program {
	margin-left: 10px;
}

#selections-page {
	margin-top: 40px;
	padding-top: 20px;
	background-color: #fff;
}
#checkbox-creator{
	font-size: 18px;
}


@media only screen and (min-width: 768px) {
	.how-to {
		width: 50%;
		float: right;
	}
}









