
.disabled-link {
  pointer-events: none;
}


.list-group-item {
	border: 1px solid black;
	border-radius: 5px;
}

#active {
	font-weight: bold;
	color: black;
	background-color: #71f1b8;
}

#activeTab {
	font-weight: bold;
	color: black;
	background-color:  #71f1b8;
}