
.disabled-link {
  pointer-events: none;
}


.list-group-item {
	border: 1px solid black;
	border-radius: 5px;
}

#active {
	font-weight: bold;
	color: black;
	background: lightgreen;
}

.selection-list label{
	margin: 10px;
}

.selection-list div{
	margin: 10px;
}