

.home-page {
	background-color: #fff;
	margin-top: 20px;
	padding-top: 40px;
}

.home {
	font-size: 20px;
	border: none;
	padding-top: 30px;
	
}

.home ol {
	margin-left: 20px;
}

@media only screen and (min-width: 775px) {
	.home-page {
		padding-top: 40px;
	}
}