


.home-page {
	background-color: #fff;
	margin-top: 20px;
	padding: 20px;
}

.home {
	font-size: 20px;
	border: none;
	padding-top: 40px;
	margin-top: 35px;
}

.home ol {
	margin-left: 20px;
}

@media all and (min-width: 320px) and (max-width: 775px)  {
	.home {
		padding-top: 40px;
		margin-top: 20px;
	}
}