body,
html {
  	display: table;
  	width: 100%;
  	height: 100%; 
  	min-height: 100%;

  	background: linear-gradient(90deg,#F0F8FF 5%,transparent 5%,transparent 95%,#F0F8FF 95%,#F0F8FF),
  				      linear-gradient(180deg,#F0F8FF 5%,transparent 5%,transparent 95%,#F0F8FF 95%,#F0F8FF);
  	
  	padding-top: 20px;
  	
  	font-size: 18px;
}

.navbar {
	background-color: #C8CFD6;
	font-size: 1.3em;
	padding: 5px; 
}

.navbar-nav .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    
}

/* change the color of active or hovered links */
.navbar-nav .nav-item:active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    border-bottom: 2px solid black;
    background-color: lightblue; 
}

.nav-link:global(.active) {
  background-color: green;
}

.navbar-brand {
  font-size: 30px;
}

html, body {
  font-size: 1rem;
}
@media (max-width: 575.98px) {
  html, body {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
}

@include media-breakpoint-up(sm) {
  html, body {
    font-size: 1.2rem;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
