
#dashboard {
	padding: 20px; 
	font-size: 20px;
	margin-top: 50px;
	background-color: #fff;
}

.btn {
	margin: 20px;
}

#semester-plan {
	margin-top: 20px;
}

.list-group-item {
	padding: 10px;

}

.delete-course{
	text-align: right;
	margin-right: 5px;
	border-radius: 50%;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	word-wrap: break-word;
	font-family: 'Roboto', sans-serif;
	
}

.delete-course:hover,
.delete-course:active,
.delete-course:focus {
	background-color: tomato;
}

li {
  padding: 5px;
  font-size: 18px;
  margin-left: 5px;
  text-align: left;
}

@media only screen and (min-width: 775px) {
	.semester-plan-container:nth-child(odd) {
		width: 49%;
		float: left;
		margin-right: 5px;
	
	}
	.semester-plan-container:nth-child(even) {
		width: 49%;
		float: right;
		margin-left: 5px;
	}
}
